.button {
    line-height: 32px;
    padding: 0 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    color: white;
    background-color: #007bff;
}


/* Colori specifici per i bottoni */
.active_html {
    background-color: #ca4321;
    color: black;
}

.active_css {
    background-color: #1d38a3;
}

.active_javascript {
    background-color: #f0db4f;
    color: #323330;
}

.active_nodejs {
    background-color: rgb(66, 95, 62);
}

.active_express {
    background-color: rgb(74, 74, 74);
}

.active_reactjs {
    background-color: rgb(114, 178, 218);
}